* {
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100vh;
  background-color: #e7e7f8;
  opacity: 0.8;
  background-image: radial-gradient(
    rgba(11, 28, 115, 0.978) 0.5px,
    #e5e5f7 0.8px
  );
  background-size: 10px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.heading {
  padding: 20px;
  color: rgba(11, 28, 115, 0.978);
  font-size: 36px;
  font-weight: 800;
  font-family: Arial, Helvetica, sans-serif;
}
.calculator {
  background: rgba(11, 28, 115, 0.978);
  padding: 20px;
  border-radius: 12px;
  box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.359);
}
.calculator form input {
  border: 0;
  outline: 0;
  width: 60px;
  height: 60px;
  border-radius: 12px;
  box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.021),
    5px 5px 15px rgba(0, 0, 0, 0.359);
  background: transparent;
  font-size: 25px;
  color: white;
  cursor: pointer;
  margin: 10px;
}
form .display {
  display: flex;
  justify-content: flex-end;
  margin: 20px 0;
}
form .display input {
  text-align: right;
  flex: 1;
  font-size: 45px;
  box-shadow: none;
}
form input.equal {
  width: 145px;
}
form input.operator {
  color: aqua;
}
